files:
    /etc/cron.d/my_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root /usr/local/bin/myscript.sh >> /var/log/my_cron.log 2>&1

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            date > /tmp/date
            # Your actual script content

            exit 0

commands:
    rm_old_cron:
        command: "rm -fr /etc/cron.d/*.bak"
        ignoreErrors: true